.search-bar {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.search-bar input {
    padding: 8px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    padding: 8px 12px;
    background-color: #ff6b81;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
}

.search-bar button:hover {
    background-color: #e63950;
}
